.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:transparent;
  padding: 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  font-size: 1px;
  text-align: center;
}
